:root {
  --cloudy-white: #ccd6f6; /*about me text, need darker text for main stuff*/
  --dark-gray: #8892b0; /*main stuff text*/
  --light-blue: #61dafb; /*highlights/specialtext/icons*/
  --background: #0a192f; /*background*/
  --highlight-color: #112b52; 
}
::selection {
  background: var(--highlight-color);
}


@font-face {
  font-family: 'NTR Regular';
  font-style: normal;
  font-weight: normal;
  src: local('NTR Regular'), url('./assets/NTR-Regular.ttf') format('truetype');
}


body {
    background-color: var(--background);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "NTR Regular";
}  



#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  padding-top: 2%;
  min-width: 15vw;
  
}

.intro-title {
  font-size: 60px;
  color: var(--cloudy-white);
  font-weight: bold;
}

.intro-description {
  max-width: 600px;
  margin-top: -25px;
  text-align: justify;
  text-justify: inter-word;
  color: var(--dark-gray);
  font-size: 22px;
  line-height: 1.3;
}



#selection-buttons {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1; /* ensure the nav bar appears on top of other elements */
}

.selection-button {
  font-size: 1.3rem;
  letter-spacing: 0.1px;
  cursor: pointer;
  min-width: 90px;
  padding-left: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
}


.sort, .traversal {
  color: var(--dark-gray);
}

.sort-selected, .traversal-selected {
  color: var(--light-blue);
}

.traversal-selected::after,
.sort-selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--light-blue);
  transition: width 0.2s ease-in-out;
}



#sort {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  min-width: 15vw;
}

.sort-title {
  font-size: 50px;
  color: var(--cloudy-white);
  font-weight: bold;
}


#traverse {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  min-width: 15vw;
}

.traverse-title {
  font-size: 50px;
  color: var(--cloudy-white);
  font-weight: bold;
}

#option-text {
  margin-top: -20px;
  font-size: 1.7rem;
  color: var(--dark-gray);
}

select {
  font-size: 1.5rem;
  color: var(--cloudy-white);
  background: transparent;
  font-family: "NTR Regular";
  border: none;
  font-weight: bold;
  cursor: pointer;
}

option {
  background: var(--background);
}


#delay,
#array-size {
  border: 0;
  outline: 0;
  width: 85px;
  border-bottom: 1px solid var(--cloudy-white);
  font-family: "NTR Regular";
  padding: 0px 5px;
  font-size: 1.1rem;
  color: var(--cloudy-white);
  background: transparent;
  font-weight: bold;
}

#algo-frame {
  border: 2px solid var(--dark-gray);
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  width: 1170px;
}
.button {
  background-color: #112240;
  font-family: "NTR Regular";
  color: var(--cloudy-white);
  display: inline-block;
  white-space: nowrap;
  border-radius: 9px;
  width: 150px;
  height: 40px;
  font-size: 1.3rem;
  text-align: center;

}

.button:hover {
  transform: translateY(-7px);
  background-color: #233554;
  cursor: pointer;
}

footer {
  top: 94%;
  left: 45%;
  margin-top: 90px;
  margin-bottom: 10px;
}

.footer-text {
  margin-top: -4px;
  text-align: center;
  font-size: 13px;
  color: var(--dark-gray);
  font-family: "NTR Regular";
}

.flex-container {
  display: flex;
}


#algo-desc {
  text-align: justify;
  line-height: 1.3;
  max-width: 580px;
  margin-top: 20px;
  color: var(--dark-gray);
  font-family: "NTR Regular";
  font-size: 1.3rem;
  display: inline-block; 
  margin-right: 20px;
}

#algo-complexity {
  color: var(--dark-gray);
  margin-top: 20px;
}
.notation {
  color: var(--cloudy-white);
}
.time-complexity,
.space-complexity,
#algo-name {
  display: inline;
  font-size: 1.5rem;
  color: var(--cloudy-white);
  font-family: "NTR Regular";
  font-weight: bold;
}

#algo-complexity,
.notation {
  line-height: 1.5;
  text-align: left;
  max-width: 580px;
  font-family: "NTR Regular";
  font-size: 1.3rem;
  display: inline-block;
}


/* Mobile Styles */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  #intro {
    margin-left: 5%;
    padding-top: 10%;
  }

  .intro-title {
    font-size: 36px;
  }

  .intro-description {
    font-size: 16px;
    margin-top: 10px;
  }

  #selection-buttons {
    display: none;
  }

  .selection-button {
    font-size: 1rem;
  }

  #sort,
  #traverse {
    margin-left: 5%;
  }

  .sort-title,
  .traverse-title {
    font-size: 32px;
  }

  #option-text {
    font-size: 1.2rem;
  }

  select,
  #delay,
  #array-size {
    font-size: 1rem;
  }

  #algo-frame {
    width: 86vw;
    height: 250px;
  }

  .control-buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .button {
    width: 120px;
    height: 30px;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .flex-container {
    flex-direction: column;
  }

  #algo-desc,
  #algo-complexity {
    font-size: 1rem;
    margin: 10px 0;
    max-width: 86vw;
  }

  .time-complexity,
  .space-complexity,
  #algo-name {
    font-size: 1.2rem;
  }

  footer {
    position: static;
    text-align: center;
    margin-bottom: 0;
  }
}