:root {
  --cloudy-white: #ccd6f6; /*about me text, need darker text for main stuff*/
  --dark-gray: #8892b0; /*main stuff text*/
  --light-blue: #61dafb; /*highlights/specialtext/icons*/
  --background: #0a192f; /*background*/
  --highlight-color: #112b52; /*self-explanatory*/
}

@font-face {
  font-family: 'NTR Regular';
  font-style: normal;
  font-weight: normal;
  src: local('NTR Regular'), url('../assets/NTR-Regular.ttf') format('truetype');
}




body {
    background-color: var(--background);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "NTR Regular";
}  



#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  padding-top: 2%;
  min-width: 15vw;
  
}

.intro-title {
  font-size: 60px;
  color: var(--cloudy-white);
  font-weight: bold;
}

.intro-description {
  max-width: 600px;
  margin-top: -25px;
  text-align: justify;
  text-justify: inter-word;
  color: var(--dark-gray);
  font-size: 22px;
  line-height: 1.3;
}


#selection-buttons {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1; /* ensure the nav bar appears on top of other elements */
}


.selection-button {
  font-size: 1.3rem;
  letter-spacing: 0.1px;
  cursor: pointer;
  min-width: 90px;
  padding-left: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
}


.sort, .traversal {
  color: var(--dark-gray);
}

.sort-selected, .traversal-selected {
  color: var(--light-blue);
}

.traversal-selected::after,
.sort-selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--light-blue);
  transition: width 0.2s ease-in-out;
}

